Body {
	background-color: #8F6593;
	color: black;
}

h1 {
	font-family: font-family: 'Abril Fatface', cursive; 
}

img {
	width: 20%;
	height: 30%;
}
#container {
	width: 80%;
	margin: 0 auto;

}
.even {
	background-color: palevioletred;
}





